---
layout: archive
permalink: /publications/
author_profile: false
---

{% include base_path %}

{% assign sorted_publications = site.publications | sort: 'date' | reverse %}

<h2>Papers</h2>
<p class="publication-note"># equal contribution, * corresponding author, supervised students</p>
{% for post in sorted_publications %}
  {% if post.category != 'preprint' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Preprints</h2>
{% for post in sorted_publications %}
  {% if post.category == 'preprint' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}